.languageBtn-container {
  background-image: linear-gradient(62deg, #141414 0%, #5C5C5C 100%);
  display: flex;
}

.languageBtn {
  background-color: #141414;
  display: flex;
  font-size: 14px;
  /* gap: 20px; */
  border: 1px solid white;
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 30px;
}

.languageBtn button {
  background-color: #646464;
  box-shadow: 1px 1px 1px #3f3f3f;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 0px 15px;
}

.language-img {
  width: 23px;
}