.project-page {
  background-color: black;
  /* height: 100vh; */
  color: white;
}

.intro-project {
  padding: 70px 180px;
  font-variant: small-caps;
  font-size: 20px;
}

.name-project {
  font-size: 70px;
  padding-bottom: 80px;
}

.projects-button {
  display: flex;
  justify-content: space-evenly;
  
}

.projects-button button {
  font-size: 25px;
}

.projects-button button:hover {
  color: white;
}

.true {
  background-color: #131313;
  color: white;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* border-bottom: 2px solid rgb(216, 2, 2); */
  font-size: 25px;
  padding: 20px;
}

.false {
  background-color: black;
  border: 1px solid black;
  color: #555555;
}

.projects {
  background-color: #131313;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.project {
  height: 230px;
  width: 320px;
  background-color: red;
  border-radius: 30px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-direction: column;
}

.project div {
  /* background-color: blue; */
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
}