.project-page {
  background-color: black;
  /* height: 100vh; */
  color: white;
}

.intro-project {
  padding: 70px 180px;
  font-variant: small-caps;
  font-size: 20px;
}

.name-project {
  font-size: 70px;
  padding-bottom: 80px;
}

.projects-button {
  display: flex;
  justify-content: space-evenly;
  
}

.projects-button button {
  font-size: 25px;
}

.projects-button button:hover {
  color: white;
}

.true {
  background-color: #161616;
  color: white;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* border-bottom: 2px solid rgb(216, 2, 2); */
  font-size: 25px;
  padding: 20px;
}

.false {
  background-color: black;
  border: 1px solid black;
  color: #555555;
  padding: 20px;
}

.projects {
  background-color: rgb(22, 22, 22);
  border-radius: 30px;
  padding: 50px 3%;
  /* flex-basis: 100px; */
  display: flex;
  flex-wrap: wrap;
  /* flex-grow: 10; */
  justify-content: center;
  gap: 50px;
}

.project {
  height: 230px;
  flex-basis: 28%;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: scale 0.3s;
  position: relative;
}

.project:hover {
  scale: 1.05;
}

.project div {
  /* backdrop-filter: opacity(20%); */
  background: rgba(22, 22, 22, 0.3);
  background-position: center;
  /* background-color: grey; */
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  text-align: center;
}

.project-title {
  background-color: rgb(85, 85, 85, 0.68);
  backdrop-filter: opacity(20%);
  border-radius: 30px;
  padding: 7px 25px;
}

.project-descript {
  padding: 0 7%;
}

.btnRepo {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  transition: scale 0.5s;
}

.btnRepo:hover {
  scale: 1.05;
  border: 1px solid rgb(216, 2, 2);;
}