.contact {
  color: white;
  background-image: linear-gradient(62deg, #141414 0%, #5C5C5C 100%);
  min-height: 100vh;
}

.intro-contact {
  padding: 0 8%;
  font-variant: small-caps;
}

.name-contact {
  font-size: 70px;
  padding: 100px 0;
}

.intro-contact h2 {
  padding-bottom: 40px;
}

.intro-contact p {
  text-align: justify;
  font-size: 20px;
  padding-bottom: 25px;
}

.intro-contact a {
  transition: padding 0.5s;
  font-size: 25px;
  padding-bottom: 25px;
  text-decoration: none;
}

.hrefs {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.intro-contact a:hover {
  padding: 0 2%;
  color: white;
  font-size: 25px;
  padding-bottom: 25px;
  text-decoration: none;
}

@media (max-width: 900px) {
  .name-contact {
    font-size: 50px;
    padding: 50px 0;
  }
}

@media (max-width: 660px) {
  .name-contact {
    font-size: 35px;
    padding: 50px 0;
  }

  .intro-contact p {
    font-size: 15px;
    padding-bottom: 15px;
  }

  .intro-contact a {
    font-size: 15px;
    padding-bottom: 20px;
  }
}