.header {
  display: flex;
  justify-content: center;
  padding: 25px 65px;
  /* color: white; */
}

#menu {
  display: flex;
  justify-content: space-around;
  transition: padding 1s ease;
  align-items: center;
}

.menuPrincipal {
  width: 100%;
}


.menuFixo {
  background-color: #303030;
  border: 1px solid white;
  border-radius: 30px;
  gap: 40px;
  justify-content: center;
  padding: 10px 40px;
  position: fixed;
  z-index: 1;
  top: 30px;
}

.linkNotActived {
  color: white;
  font-weight: 700;
  display: flex;
  text-decoration: none;
  font-size: 20px;
}

.header a:hover {
  color: #0F7173;
  font-weight: 700;
  scale: 1.1;
}

.header a p:active {
  color: white;
}

.headerRouter {
  color: #0F7173;
  font-weight: 700;
  display: flex;
  text-decoration: none;
  font-size: 22px;
  }
