.home-sectionImg {
  position: absolute;
  height: 100%;
  width: 40%;
  z-index: 0;
  right: 0;
  background: url('../../../images/bgHomee.png');
  background-size: cover;
}

.home-c1 {
  background: url('../../../images/cslice/c4.png');
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: cover;
  animation: moveRotate1 10s linear infinite;
  right: 20%;
}

@keyframes moveRotate1 {
  0% {
    transform: translateX(30px) translateY(10px) rotate(0deg);
  }
  50% {
    transform: translateX(100px) translateY(100px) rotate(180deg);
  }
  100% {
    transform: translateX(30px) translateY(10px) rotate(360deg);
  }
}

@media (max-width: 700px) {
  .home-c1 {
    display: none;
  }
}

.home-c2 {
  background: url('../../../images/cslice/c4.png');
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: cover;
  animation: moveRotate2 20s linear infinite;
  right: 5%;
}

@keyframes moveRotate2 {
  0% {
    transform: translateX(-10px) translateY(200px) rotate(0deg);
  }
  25% {
    transform: translateX(-20px) translateY(250px) rotate(180deg);
  }
  50% {
    transform: translateX(-50px) translateY(10px) rotate(180deg);
  }
  100% {
    transform: translateX(-10px) translateY(200px) rotate(360deg);
  }
}

@media (max-width: 600px) {
  .home-c2 {
    display: none;
  }
}

.home-c3 {
  background: url('../../../images/cslice/c2.png');
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: cover;
  animation: moveRotate3 20s linear infinite;
  right: 5%;
}

@keyframes moveRotate3 {
  0% {
    transform: translateX(-30px) translateY(650px) rotate(0deg);
  }
  25% {
    transform: translateX(-65px) translateY(500px) rotate(180deg);
  }
  50% {
    transform: translateX(-80px) translateY(600px) rotate(180deg);
  }
  100% {
    transform: translateX(-30px) translateY(650px) rotate(360deg);
  }
}

@media (max-width: 1400px) {
  .home-c3 {
    right: 1%;
  }
}

@media (max-width: 1350px) {
  .home-c3 {
    display: none;
  }
}

.home-c4 {
  background: url('../../../images/cslice/c1.png');
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: cover;
  animation: moveRotate4 20s linear infinite;
  right: 5%;
}

@keyframes moveRotate4 {
  0% {
    transform: translateX(-10px) translateY(50px) rotate(0deg);
  }
  25% {
    transform: translateX(-20px) translateY(10px) rotate(180deg);
  }
  50% {
    transform: translateX(-15px) translateY(20px) rotate(180deg);
  }
  100% {
    transform: translateX(-10px) translateY(50px) rotate(360deg);
  }
}

@media (max-width: 600px) {
  .home-c4 {
    /* display: none; */
  }
}

.home-c5 {
  background: url('../../../images/cslice/c1.png');
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: cover;
  animation: moveRotate5 12s linear infinite;
  right: 2%;
}

@keyframes moveRotate5 {
  0% {
    transform: translateX(-10px) translateY(350px) rotate(0deg);
  }
  25% {
    transform: translateX(-25px) translateY(500px) rotate(180deg);
  }
  50% {
    transform: translateX(-20px) translateY(420px) rotate(180deg);
  }
  100% {
    transform: translateX(-10px) translateY(350px) rotate(360deg);
  }
}

@media (max-width: 1100px) {
  .home-c5 {
    display: none;
  }
}